<!DOCTYPE html>
<html lang="ru">
{% load widget_tweaks %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перевод валюты</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="text-2xl font-semibold text-center mb-4">Перевод валюты</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <!-- Лейбл -->
                    <label for="{{ field.id_for_label }}" class="text-black font-semibold">{{ field.label }}</label><br>
                    
                    <div class="relative">
                        <!-- Поле ввода с кастомными атрибутами -->
                        {{ field|add_class:"w-full p-2 border-2 border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 rounded" }}
                        
                        {% if field.field.widget.input_type == "password" %}
                            <button type="button" 
                                    class="absolute inset-y-0 right-3 text-gray-500 hover:text-gray-700 focus:outline-none" 
                                    onclick="togglePasswordVisibility('{{ field.id_for_label }}')">
                                👁️
                            </button>
                        {% endif %}
                    </div>

                    <!-- Подсказки -->
                    {% if field.help_text %}
                        <p class="text-sm text-green-500 mt-1">{{ field.help_text|safe }}</p>
                    {% endif %}
                    
                    <!-- Ошибки -->
                    {% for error in field.errors %}
                        <p class="text-red-500 text-sm">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">
                Отправить
            </button>
        </form>
        <p class="text-sm text-center mt-4">
            <a href="{% url 'finance' %}" class="text-green-500 hover:underline"> Вернуться к финансам</a>
        </p>
    </div>
</body>
</html>